venv/
byu-corpus.csv
text-processing/text-process-notes.md
voweled-and-unvoweled-words.csv
plurals.csv
.DS_Store
load_arabic_words.sql
.env
__pycache__
*.pyc
arabic-dictation-app-4e56db11e328.json
output.mp3
audio_files/